<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width,initial-scale=1" />
        <link rel="icon" href="favicon.ico" />
        <title>Railsdecal Project 1</title>

        <!-- FACEBOOK -->
      	<meta property="og:url" content="https://www.mosessurumen.com" />
      	<meta property="og:type" content="website" />
      	<meta property="og:title" content="Railsdecal" />
      	<meta property="og:description" content="Fall 2016 Project 1" />
      	<meta property="og:image" content="#" />

      	<!-- TWITTER -->
      	<meta name="twitter:card" content="summary" />
      	<meta name="twitter:site" content="@mosessurumen" />
      	<meta name="twitter:title" content="Railsdecal" />
      	<meta name="twitter:description" content="Fall 2016 Project 1" />
      	<meta name="twitter:image" content="#" />

        <!-- CSS -->
        <link rel="stylesheet" href="../../../vendor/assets/stylesheets/css/master.css" media="screen" title="no title" charset="utf-8">
    </head>
    <body class="home">
        <div class="page home">
        	<div class="pageWrapper">
        		<div class="centeredContainer">
        			<div class="catchZone">
        				<div class="hello">
        					<span id="intro" style="transform: scale(0.4);">
        						<span> W </span>
        						<span> e </span>
        						<span> l </span>
        						<span> c </span>
        						<span> o </span>
        						<span> m </span>
                                <span> e </span>
        					</span>
                            <div class="catchPhrase">
                                <p>
                                    <span>Trainers:</span>
                                    <span>5 registered.</span>
                                </p>
                            </div>
        				</div>
        			</div>

        			<div class="catchCta">
        				<a href="https://dashboard.nuageapp.com/beta" class="cta cta-colored cta-blue cta--invite">
        					<span>Sign up to Play</span>
        				</a>
        			</div>
        		</div>
        	</div>
        </div>

        <div class="footerWrapper">
            <footer>
            	<section class="desktop">
            		<div>
            			<div class="logo">
            				<a href="#" class="logo--link">
            					<svg xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" preserveAspectRatio="xMidYMid" width="38" height="28" viewBox="0 0 38 28">
            					  <defs>
            					    <style>
            					      .cls-1 {
            					        fill: #33afff;
            					        fill-rule: evenodd;
            					      }
            					    </style>
            					  </defs>
            					  <path d="M28.375,26.781 L28.375,27.000 L13.969,27.000 L13.969,26.999 C13.963,26.999 13.958,27.000 13.953,27.000 C6.799,27.000 1.000,21.180 1.000,14.000 C1.000,6.820 6.799,1.000 13.953,1.000 C17.920,1.000 21.465,2.794 23.841,5.612 C24.602,5.441 25.391,5.344 26.203,5.344 C32.166,5.344 37.000,10.192 37.000,16.172 C37.000,21.406 33.297,25.772 28.375,26.781 Z" class="cls-1"/>
            					</svg>
            				</a>
            			</div>
            			<p>Fall 2016 © Moses Surumen. Rails Decal.</p>
            		</div>
            		<div>
            			<ul>
        					<li><a href="http://www.mosessurumen.com/">Contact</a></li>
                            <li><a href="https://github.com/moses-surumen">Github</a></li>
                            <li><a target="_blank" href="#">Facebook</a></li>
                            <li><a href="https://www.linkedin.com/in/mosessurumen">LinkedIn</a></li>
            			</ul>
            		</div>
            	</section>

            	<section class="mobile">
            		<p>
            			Fall 2016 © Moses Surumen. Rails Decal.
            		</p>
            	</section>
            </footer>
        </div>


        <!-- SCRIPTS -->
        <script>
          (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
          (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
          m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
          })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

          ga('create', 'UA-83362144-2', 'auto');
          ga('send', 'pageview');
        </script>
        <script type="text/javascript" src="../../../vendor/assets/javascripts/js/vendor.js"></script>
        <script type="text/javascript" src="../../../vendor/assets/javascripts/js/bundle.js"></script>
    </body>
</html>
